@import "tailwindcss";
@plugin "tailwindcss-pattern";
@import "tailwind-scrollbar-hide/v4";

@import "./post.css";
@import "./crt.css";

* {
	@apply scrollbar-hide;
}

body {
	@apply text-text bg-[url('/background.webp')] bg-cover bg-center bg-fixed font-[Tamzen] text-[15px];
}

@font-face {
	font-family: Tamzen;
	src: url("/font/Tamzen8x15r.ttf");
}

::selection {
	@apply bg-text/25;
}

@theme {
	--color-bg: #0f111a;
	--color-text: #e0def4;
	/* 通用 */
	--color-iris-main: #c4a7e7;
	--color-iris-moon: #c4a7e7;
	--color-iris-dawn: #907aa9;
	/* 在组件中使用 rose 突出 */
	--color-rose-main: #ebbcba;
	--color-rose-moon: #ea9a97;
	--color-rose-dawn: #d7827e;
	/* 在正文中使用 foam 突出 */
	--color-foam-main: #9ccfd8;
	--color-foam-moon: #9ccfd8;
	--color-foam-dawn: #56949f;
}
