name: Deploy Code to Server

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: 部署到远程服务器并执行脚本
              uses: appleboy/ssh-action@v1.0.0
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USERNAME }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  port: ${{ secrets.SSH_PORT }}

                  script: |
                      echo "--- 开始执行部署脚本 ---"

                      # 执行指定的部署脚本
                      /home/aliceclodia/update_s22y.sh

                      echo "--- 部署脚本执行完毕 ---"
